<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:util="http://www.springframework.org/schema/util"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
	   default-autowire="byName">
	<!--
		注意上面的default-autowire="byName"，如果没有这个声明不会被注入
	-->
	<description>Spring公共配置</description>

	
	<!-- 基础的默认ds层配置文件 -->
	<import resource="classpath:config/ds/base/applicationContext-db.xml"/>
	
	<import resource="app-service.xml"/>
	
	<!-- dubbo 对外提供服务时开启 -->
	<!-- <import resource="dubboProvider.xml"/> -->
	<!-- dubbo 引用外部服务时开启 -->
	<!-- <import resource="dubboConsumer.xml"/> -->

	
	<!--
		自动扫描组件，这里要把web下面的
		controller去除，他们是在servlet-servlet.xml中配置的，如果不去除会影响事务管理的。
	-->
	<context:component-scan base-package="cn.showclear.www.controller">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	
	<!-- 程序配置文件加载 -->
	<bean id="configProperties" scope="singleton" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="locations">
			<list>
				<value>classpath:config/default.properties</value>
				<value>file:${user.conf}/db.properties</value>
				<value>file:${user.conf}/config.properties</value>
			</list>
		</property>
		<!-- 指定外部文件的编码方式-->
		<property name ="fileEncoding">
			<value>UTF-8</value>
		</property>
	</bean>
	<bean id="propertyConfigurer" scope="singleton" class="cn.com.scooper.common.spring.config.FirstPropertyPlaceholderConfigurer">
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="properties" ref="configProperties" />   
	</bean>
	
	<bean id="multipartResolver" 
    	class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	    <!-- 最大上传大小，单位：字节(byte) -->
	    <property name="maxUploadSize" value="300000"/>
	    <!-- 你也可以在这里提供其他的属性 -->
	</bean>

	<!-- 需要执行的逻辑代码，当spring容器初始化完成后就会执行该方法。 -->
	<bean id="instantiationTracingBeanPostProcessor" class="cn.showclear.www.config.InstantiationTracingBeanPostProcessor"></bean>
		
</beans>
