<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd 
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <description>配置</description>

    <!-- 把标记了@Controller注解的类转换为bean -->
    <context:component-scan base-package="cn.showclear.www" use-default-filters="false">
        <context:include-filter type="regex" expression="cn.showclear.www.controller.*"/>
        <context:include-filter type="annotation" expression="org.springframework.context.annotation.Configuration"/>
    </context:component-scan>

    <mvc:resources mapping="/js/**" location="/js/"/>
    <mvc:resources mapping="/css/**" location="/css/"/>
    <mvc:resources mapping="/plugin/**" location="/plugin/"/>
    <mvc:resources mapping="/images/**" location="/images/"/>
    <mvc:resources mapping="/resource/**" location="/resource/"/>
    <!--<mvc:resources mapping="/view/**" location="/view/"/>-->


    <!-- 拦截器     -->
    <mvc:interceptors>

        <mvc:interceptor>
            <mvc:mapping path="/**/view/check.jsp"/>
            <mvc:mapping path="/file/*"/>
            <mvc:mapping path="/folder/*"/>
            <mvc:mapping path="/share/*"/>
            <mvc:exclude-mapping path="/share/s/*"/>
            <mvc:exclude-mapping path="/view/login.jsp"/>
            <mvc:exclude-mapping path="/view/signup.jsp"/>

            <bean class="cn.showclear.www.interceptor.UserInterceptor"/>
        </mvc:interceptor>

        <!--&lt;!&ndash; 视图拦截器 &ndash;&gt;-->
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/view/**"/>-->
            <!--<bean class="cn.com.scooper.common.spring.interceptor.ViewConfigInterceptor"/>-->
        <!--</mvc:interceptor>-->

        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/**"/>-->
            <!--<bean class="cn.showclear.www.interceptor.EncodeInterceptor"/>-->
        <!--</mvc:interceptor>-->


        <!-- 权限拦截器 -->
        <!-- <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="cn.showclear.www.interceptor.AuthInterceptor"/>
        </mvc:interceptor> -->
    </mvc:interceptors>

    <!-- JSON对象转换格式定义 -->
    <bean id="objectMapper" class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean">
        <property name="simpleDateFormat" value="yyyy-MM-dd HH:mm:ss"/>
    </bean>

    <!-- 开启MVC注解功能 ，为了使Controller中的参数注解起效，需要如下配置 -->
    <mvc:annotation-driven>
        <!-- 请求/响应 相关设置 -->
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter"/>
            <!-- 防止请求或响应乱码的配置 -->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
            <!-- 请求/响应JSON对象转换 -->
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper" ref="objectMapper"/>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- FreeMarker相关配置 -->
    <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value=""/>
        <property name="defaultEncoding" value="utf-8"/>
        <property name="freemarkerSettings">
            <props>
                <prop key="classic_compatible">true</prop>
                <prop key="whitespace_stripping">true</prop>
                <prop key="template_update_delay">0</prop>
                <prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
                <prop key="time_format">HH:mm:ss</prop>
                <prop key="date_format">yyyy-MM-dd</prop>
                <prop key="default_encoding">UTF-8</prop>
                <prop key="number_format">#.</prop>
            </props>
        </property>
    </bean>

    <bean id="freemarkerViewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="viewClass" value="cn.com.scooper.common.spring.config.ScooperFreeMarkerView"></property>
        <property name="viewNames" value="*.html,*.ftl,*.djs"/>
        <property name="contentType" value="text/html;charset=utf-8"/>
        <property name="exposeRequestAttributes" value="true"/>
        <!-- <property name="exposeSessionAttributes" value="true" />
        <property name="exposeSpringMacroHelpers" value="true" /> -->
        <property name="order" value="1"/>
    </bean>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="order" value="2"/>
    </bean>

    <!-- 设置分段上传 -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 通过HTTP上传文件，单个文件不允许超过10M-->
        <property name="maxUploadSize" value="10000000" />
        <property name="defaultEncoding" value="utf-8" />
    </bean>
</beans>