<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<script src="../js/test/test.js"></script>-->
    <!--<script src="../js/view/head.js"></script>-->
    <script data-main="../js/test/test.js" src="../js/lib/require/require.js"></script>
    <script src="../plugin/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../plugin/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../plugin/bootstrap/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../css/net-note.css">

</head>
<body>

</body>
</html>